:root {
  --primary-clr: coral;
  --secondary-clr: blue;
  --primary-bkg-clr: #fffdea;
  --sectiontxt-clr: hsl(0, 0%, 10%);
}

body {
  background: hsl(210, 73%, 35%);
  background: -moz-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: -webkit-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: linear-gradient(to right, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  font-family: 'Open Sans', sans-serif;
  /*! Google font Open Sans: 300,400,500,600,700,800 */
}

nav {
  z-index: 100;
}

h2 {
  color: var(--primary-clr);
  margin-top: 0.25rem;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: var(--sectiontxt-clr);
  background-color: var(--primary-bkg-clr);
  width: min(800px, 100%);
  margin: 1rem 0 2rem 0;
  border-radius: 15px;
  user-select: none;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.4);
}

article {
  padding: 0.2em 1em;
}

article > p {
  margin-bottom: 0.5em;
}

/* utility styles */
.hide-section {
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-btn:hover {
  background-color: lightgrey;
  cursor: pointer;
}

/* main section styles */
.main-section {
  /* width: 75%; */
}

/* about section styles */
.about-section {
  /* width: 75%; */
}

/* contact form styles */
.contact-section {
  /* min-width: 500px; */
  width: min(490px, 100%);
}

.contact-form {
  padding: 0.2em 0 1em 0;
  width: 95%;
}

.contact-form-title {
  margin-bottom: 1em;
  user-select: none;
}

.contact-form-group {
  position: relative;
  padding: 1em 0 0.5em;
}

.contact-form-label {
  color: var(--secondary-clr);
  font-size: 1.2em;
  position: absolute;
  top: 10px;
  opacity: 0;
  transition: all 300ms ease-in;
}

/* hide the honeypot */
.special-h {
  display: none;
}

/* applied via javascript */
.contact-form-control-focused {
  opacity: 1;
  top: -10px;
}

.contact-form-control {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  background-color: var(--primary-bkg-clr);
  box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none solid none;
  transition: all 0.6s;
}

.contact-form-control::placeholder {
  color: #aaa;
}

.contact-form-control:focus {
  box-shadow: none;
  outline: none;
  border-color: var(--primary-clr);
}

.contact-form-group:focus-within {
  transform: scale(1.05, 1.05);
}

.contact-form-control:invalid:focus {
  outline: 2px solid red;
}

.contact-form-control:valid:focus {
  border-color: green;
}

.contact-form textarea {
  resize: none;
}

.contact-btn-row {
  display: flex;
  justify-content: center;
}

.contact-send-btn {
  background-color: var(--primary-bkg-clr);
  cursor: pointer;
  user-select: none;
  border-radius: 25px;
  padding: 0 0.5em;
}

.contact-send-btn:hover {
  border-color: green;
  background-color: var(--primary-clr);
  color: white;
}

.red {
  color: red;
}

/* video section styles */
.video {
  text-align: center;
  background-color: black;
  color: white;
  width: 400px;
  height: 200px;
  margin-bottom: 4rem;
}
