/* reset base settings */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  /*! Google font Roboto: 300-light 400-regular, 500-medium, 700-bold, 900-black */
}

body {
  background: #185a9d;
  background: -moz-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: -webkit-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: linear-gradient(to right, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  color: whitesmoke;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.aztecs-title {
  font-size: 2rem;
  font-weight: 700;
  color: coral;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

ul {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.author-notice {
  color: red;
}

.author-notice a {
  color: red;
}

.container {
  max-width: 75%;
  margin: 0 0.5rem;
}

.layout {
  padding-top: 0.25em;
  text-align: center;
  background-color: #185a9d;
  color: coral;
  font-weight: 700;
}

.layout img {
  padding-top: 0.25em;
  max-width: 100%;
}

:any-link {
  color: whitesmoke;
}

/* navbar styles */
header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.2em;
  user-select: none;
}

.logo:hover {
  cursor: pointer;
}

.copyright {
  user-select: none;
}

.logo a {
  text-decoration: none;
}

.nav {
  background-color: hsl(27, 100%, 17%);
  color: white;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0 1em;
  padding: 0.5em 0;
}

.nav-list li {
  list-style-type: none;
}

.nav-list li:nth-of-type(2) {
  margin-left: auto;
}

.nav-list li:nth-of-type(5) {
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}
