body {
  background: #185a9d;
  background: -moz-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: -webkit-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: linear-gradient(to right, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  color: whitesmoke;
  line-height: 1.25;
  font-family: Roboto, sans-serif;
  /*! Google font Roboto: 300-light 400-regular, 500-medium, 700-bold, 900-black */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

figcaption {
  color: coral;
  font-weight: 700;
  font-size: 1.25em;
}

iframe {
  max-width: 530px;
}

.aztecs-title {
  font-size: 2rem;
  font-weight: 700;
  color: coral;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 0 0.5rem;
}

.author-notice {
  color: whitesmoke;
}

.aztecs-list {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

.thor-note {
  font-weight: 700;
  color: tomato;
}

.layout-highlight {
  color: coral;
}

.layout {
  text-align: center;
  background-color: #105aa354;
}

.layout img {
  max-width: 100%;
  padding-top: 0.25em;
}

/* :any-link {
  color: whitesmoke;
} */

@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}
