b {
  font-weight: 500;
} /* 

.list-section {
  width: 40%;
  margin: 2rem auto;
  background-color: var(--light-background);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
} */

.display-card {
  background-color: var(--section-background);
  border: black solid 1px;
  margin: 0.25rem 1rem 1rem 1rem;
  padding: 0.25rem;
  user-select: none;
}

.display-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.card-top-row {
  background: var(--subhead-background);
  color: var(--light-grey);
  padding-left: 0.5rem;
}

.card-gb-name {
  font-weight: 700;
  font-size: 1.3rem;
}

.card-stats-row {
  display: flex;
  justify-content: start;
  gap: 1rem;
  margin: 0.25rem auto;
}

.p-col {
  /* dummy class used as a selector only for snipe zone alert position highlighting */
  color: black;
}

.snipezone-pos-active {
  color: red;
  font-weight: 700;
}

.card-bottom-row {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem auto 0.25rem;
}

.card-left-section {
  display: flex;
  justify-content: left;
  gap: 3rem;
}

.card-center-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.card-right-section {
  display: flex;
  justify-content: right;
  gap: 2rem;
  margin-right: 1rem;
}

.delete-btn {
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 0 0.5em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms ease-in;
}

.delete-btn:hover {
  background-color: red;
}

.calc-btn {
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 0 0.5em;
  cursor: pointer;
  border: none;
  transition: background-color 250ms ease-in;
}

.calc-btn:hover {
  background-color: blue;
}

.check-mark {
  font-size: 0.9rem;
  color: green;
  transform: translate(0.92rem, -0.22rem);
}
.x-mark {
  font-size: 0.9rem;
  color: red;
  transform: translate(0.92rem, -0.22rem);
}

.display-stats-heading {
  border-bottom: black solid 1px;
}

.medium-weight {
  font-weight: 500;
}

#display-noGbs {
  text-align: center;
  margin: 0.5rem 0;
}
