:root {
  /* top nav */
  --topnav-bgclr: hsl(234, 80%, 31%);
  --topnav-clr: white;
  --topnav-hvrclr: tomato;
  --topnav-active-clr: tomato;
  /* bottom nav */
  --botnav-bgclr: teal;
  --botnav-clr: white;
  --botnav-hvrclr: coral;
  --botnav-active-clr: coral;
  /* dropdown */
  --dropdown-bgclr: hsl(234, 80%, 31%);
  --dropdown-clr: white;
  --dropdown-hover-clr: tomato;
  --dropdown-hover-bgclr: whitesmoke;
}

/*! utility classes  */
.push-right {
  margin-left: auto;
}

.push-left {
  margin-right: auto;
}

.top-nav-item-active {
  pointer-events: none;
  color: var(--topnav-active-clr);
}

.bottom-nav-item-active {
  color: var(--botnav-active-clr);
  pointer-events: none;
}

.top-nav-list > li > button.nav-item-disabled {
  color: grey;
  pointer-events: none;
  cursor: default;
}

/*! top navbar  */
.top-nav {
  background-color: var(--topnav-bgclr);
  color: var(--topnav-clr);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
  user-select: none;
}

.top-nav-list {
  display: flex;
  align-items: center;
  gap: 2em;
  margin: 0 1em;
}

.top-nav-list > li {
  list-style-type: none;
  cursor: pointer;
}

.top-nav-list > li:hover {
  color: var(--topnav-hvrclr);
}

.top-nav-list > li:nth-of-type(2) {
  margin-left: auto;
}

.top-nav-list > li:nth-of-type(4) {
  margin-right: auto;
}

.top-nav-list > li.top-nav-logo {
  user-select: none;
  padding: 0;
}

.top-nav-logo > img {
  margin-top: 4px;
}

.top-nav-logo:hover {
  cursor: pointer;
}

.top-nav-logo-disabled {
  user-select: none;
  cursor: none;
  pointer-events: none;
}

.top-nav-copyright {
  font-size: 0.7rem;
  pointer-events: none;
}

/*! bottom navbar  */
.bottom-nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 50;
  background-color: var(--botnav-bgclr);
  color: var(--botnav-clr);
  user-select: none;
}

.bottom-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  margin: 0 1em;
  padding: 0.25em 0;
}

.bottom-nav-list li {
  list-style-type: none;
  cursor: pointer;
}

.bottom-nav-list li:hover {
  color: var(--botnav-hvrclr);
}

/* hide the dummy li, activated in media query */
.bottom-nav-list > li:nth-of-type(1) {
  display: none;
}

.bottom-nav-list > li:nth-of-type(2) {
  margin-left: auto;
}

.bottom-nav-list > li:nth-of-type(3) {
  margin-right: auto;
}

/* hide the copyright, activated in media query */
.bot-nav-copyright {
  display: none;
  /* position: fixed;
  right: 20px;
  bottom: 6px; */
  font-size: 0.7rem;
  pointer-events: none;
}

/* media queries */
@media screen and (max-width: 730px) {
  .bottom-nav-list {
    gap: 2em;
  }
  .bottom-nav-list > li:nth-of-type(1) {
    display: initial;
    opacity: 0;
  }
  .top-nav-copyright {
    display: none;
  }
  .bot-nav-copyright {
    display: initial;
  }
}
