/* reset base settings */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  /*! Google font Roboto: 400-regular, 500-medium, 700-bold */
}

/* define document variables */
:root {
  --light-background: #f0f0f0;
  --light-grey: #f9f9f9;
  --mid-grey: #c3c3c3;
  --dark-grey: #9b9b9b;
  --section-background: #fffdea;
  --title-background: #2967b9;
  --subhead-background: #006eff;
  --dark-orange: #ed8a00;
  --light-orange: #ffd17d;
}

/* disable selector arrows on number inputs */
.noNumArrows::-webkit-inner-spin-button,
.noNumArrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  margin: 0;
}
/* added 9/24/21- old method doesn't work with newer Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

body {
  background: #185a9d;
  background: -moz-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: -webkit-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: linear-gradient(to right, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
}

main {
  display: flex;
}

h1 {
  cursor: default;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0.25rem;
  user-select: none;
}

h2,
h4 {
  user-select: none;
}

ul {
  list-style-type: none;
}

section {
  margin: 2rem auto;
  background-color: var(--section-background);
}

input[type='checkbox']:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.list-section {
  min-width: 40rem;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.4);
}

.title {
  cursor: default;
  text-align: center;
  font-weight: 700;
  color: white;
  background: var(--title-background);
  padding: 0.4rem;
}
.title h4 {
  cursor: default;
}

/*! begin modal styles */
.modal-content {
  user-select: none;
}

.modal-bkg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: auto;
  background: rgb(0, 0, 0);
  opacity: 0;
  visibility: hidden;
  transition: 700ms;
}

.modal-container {
  position: absolute;
  top: -9.5rem; /* -9rem hidden --> 9.5rem on screen */
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  background: white;
  padding: 1rem;
  opacity: 0;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
}

.orient-bkg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  overflow: auto;
  background-color: blue;
  opacity: 0;
  visibility: hidden;
  transition: 500ms ease-in-out;
}

.orient-bkg-show {
  opacity: 1;
  visibility: visible;
}

.orient-modal-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 110;
  top: -25vh; /* -25vh hidden --> 50vh on screen */
  left: 40px;
  /* width: calc(100% - 80px); */
  width: calc(100vw - 80px);
  background: white;
  padding: 1rem;
  opacity: 0;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out;
}

.orient-modal-body {
  text-align: center;
}

.orient-modal-container-show {
  opacity: 1;
  top: 35vh;
}

.orient-modal-btn-row {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.deleteGb-modal-container {
  position: fixed;
  top: -25vh; /* -25vh hidden --> 50vh on screen */
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  background: white;
  padding: 1rem;
  opacity: 0;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
}

.postText-modal-container {
  position: absolute;
  top: -11rem; /* -11rem hidden --> 15rem on screen */
  left: 62%;
  width: 20%;
  background: white;
  padding: 1rem;
  opacity: 0;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
}

.newUser-modal-container {
  position: absolute;
  top: -11rem; /* -11rem hidden --> 15rem on screen */
  left: 62%;
  width: 20%;
  background: white;
  padding: 1rem;
  opacity: 0;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
}

.postText-modal-option-row {
  margin-bottom: 0.5rem;
  text-align: center;
}

.modal-header {
  margin-bottom: 0.2rem;
  text-align: center;
}

.modal-body {
  margin-bottom: 1rem;
  text-align: center;
}

.modal-btn-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-bottom-row {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.modal-btn {
  border: 1px solid #1c6ea4;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
  transition: 200ms;
}

.modal-btn:hover {
  cursor: pointer;
  border-color: red;
  background: #1c6ea4;
  color: white;
  transform: scale(1.2, 1.2);
}

/* this changes color on mousedown and back to default on mouseup */
.modal-btn:active {
  background-color: green;
  transform: scale(1, 1);
}

/* turns on the background */
.modal-show {
  visibility: visible;
  opacity: 0.6;
}

/* turns off the background */
.modal-hide {
  opacity: 0;
  visibility: hidden;
}

/* slides in container from the top with bounce effect */
.modal-container-show {
  animation: dropModal 700ms ease-in forwards;
}

@keyframes dropModal {
  0% {
    opacity: 0;
    top: -9.5rem;
  }
  50% {
    opacity: 0.6;
    top: 10rem;
  }
  65% {
    opacity: 0.8;
    top: 9rem;
  }
  80% {
    opacity: 0.9;
    top: 9.75rem;
  }
  95% {
    top: 9.25rem;
  }
  100% {
    background: coral;
    opacity: 1;
    top: 9.5rem;
  }
}
/* modified version for post text modal */
.postText-modal-container-show {
  animation: dropPostTextModal 700ms ease-in forwards;
}

@keyframes dropPostTextModal {
  0% {
    opacity: 0;
    /* top: -9.5rem; */
    top: -11rem;
  }
  50% {
    opacity: 0.6;
    /* top: 10rem; */
    top: 15.5rem;
  }
  65% {
    opacity: 0.8;
    /* top: 9rem; */
    top: 14.5rem;
  }
  80% {
    opacity: 0.9;
    /* top: 9.75rem; */
    top: 15.25rem;
  }
  95% {
    /* top: 9.25rem; */
    top: 14.75rem;
  }
  100% {
    background: coral;
    opacity: 1;
    top: 15rem;
  }
}
/* modified version for delete gb modal */
.deleteGb-modal-container-show {
  animation: dropDeleteGbModal 700ms ease-in forwards;
}

@keyframes dropDeleteGbModal {
  0% {
    opacity: 0;
    /* top: -9.5rem; */
    top: -25vh;
  }
  50% {
    opacity: 0.6;
    /* top: 10rem; */
    top: 42vh;
  }
  65% {
    opacity: 0.8;
    /* top: 9rem; */
    top: 38vh;
  }
  80% {
    opacity: 0.9;
    /* top: 9.75rem; */
    top: 41vh;
  }
  95% {
    /* top: 9.25rem; */
    top: 39vh;
  }
  100% {
    background: coral;
    opacity: 1;
    top: 40vh;
  }
}

/* slides up container */
.modal-container-hide {
  animation: raiseModal 500ms ease-out forwards;
}

@keyframes raiseModal {
  from {
    opacity: 1;
    top: 15rem;
  }
  to {
    opacity: 0;
    top: -11rem;
  }
}
/* modified version for post text modal */
.postText-modal-container-hide {
  animation: raisePostTextModal 500ms ease-out forwards;
}

@keyframes raisePostTextModal {
  from {
    opacity: 1;
    top: 9.5rem;
  }
  to {
    opacity: 0;
    top: -9.5rem;
  }
}
/* modified version for delete gb modal */
.deleteGb-modal-container-hide {
  animation: raiseDeleteGbModal 500ms ease-out forwards;
}

@keyframes raiseDeleteGbModal {
  from {
    opacity: 1;
    top: 50vh;
  }
  to {
    opacity: 0;
    top: -25vh;
  }
}
/*! end modal styles */
@media screen and (max-width: 700px) {
  .list-section {
    width: 100%;
  }
}
