/* define document variables */
:root {
  --light-background: #f0f0f0;
  --light-grey: #f9f9f9;
  --mid-grey: #c3c3c3;
  --dark-grey: #9b9b9b;
  --section-background: #fffdea;
  --title-background: #2967b9;
  --subhead-background: #006eff;
  --dark-orange: #ed8a00;
  --light-orange: #ffd17d;
}

body {
  width: 100vw;
  height: 100vh;
  background: #185a9d;
  background: -moz-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: -webkit-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: linear-gradient(to right, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  font-family: Roboto, sans-serif;
  /*! Google font Roboto: 400-regular, 500-medium, 700-bold */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
  user-select: none;
}

ul {
  list-style-type: none;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.heading {
  color: hsl(0, 0%, 85%);
  cursor: default;
  text-align: center;
  margin: 1rem 0;
}

.list-section {
  margin: 0.2rem auto 2.5rem;
  background-color: var(--section-background);
  border-radius: 15px;
  min-width: 40rem;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.4);
}

.title {
  cursor: default;
  text-align: center;
  font-weight: 700;
  color: white;
  background: var(--title-background);
  padding: 0.4rem;
}

/*! slideshow styles  */
.slide-show {
  position: relative;
  margin: 0.25rem auto 0;
  width: 800px;
  height: 500px;
  user-select: none;
}

.ss-hide {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  color: coral;
}

.ss-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.ss-close-btn:hover {
  transform: scale(1.2);
}

/*! generic modal styles  */
.modal-content {
  user-select: none;
}

.modal-bkg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgb(0, 0, 0);
  z-index: 60;
  opacity: 0.6;
  pointer-events: none;
  visibility: visible;
  transition: all 500ms;
}

/* turns off the background */
.modal-bkg-hide {
  opacity: 0;
  visibility: hidden;
}

.modal-container {
  position: absolute;
  bottom: 105vh;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  background: coral;
  z-index: 70;
  padding: 0.5rem 0;
  border-radius: 15px;
  opacity: 0;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
}

/* slides in container from the top with bounce effect */
.modal-container-show {
  animation: dropModal 600ms ease-in forwards;
}
@keyframes dropModal {
  0% {
    opacity: 0;
    bottom: 105vh;
  }
  60% {
    opacity: 0.6;
    bottom: 40vh;
  }
  70% {
    opacity: 0.8;
    bottom: 44vh;
  }
  80% {
    bottom: 40vh;
  }
  90% {
    bottom: 42vh;
  }
  100% {
    opacity: 1;
    bottom: 40vh;
  }
}

/* slides up container */
.modal-container-hide {
  animation: raiseModal 500ms ease-out forwards;
}
@keyframes raiseModal {
  from {
    opacity: 1;
    bottom: 40vh;
  }
  to {
    opacity: 0;
    bottom: 105vh;
  }
}

.modal-header {
  margin-bottom: 0.2rem;
  text-align: center;
}

.modal-body {
  margin-bottom: 1rem;
  text-align: center;
}

.modal-btn-row {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal-bottom-row {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.modal-btn-row > button,
.modal-bottom-row > button {
  font-size: inherit;
}

.modal-btn {
  border: 1px solid #1c6ea4;
  border-radius: 20px;
  padding: 0.2rem 0.5rem;
  transition: 200ms;
}

.modal-btn:hover {
  cursor: pointer;
  border-color: red;
  background: #1c6ea4;
  color: white;
}

/*! post text modal tweak  */
.postText-modal-option-row {
  margin-bottom: 0.5rem;
  text-align: center;
}

/*! orientation modal  */
.orient-bkg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  overflow: auto;
  background-color: blue;
  opacity: 0;
  visibility: hidden;
  transition: 500ms ease-in-out;
}

.orient-bkg-show {
  opacity: 1;
  visibility: visible;
}

.orient-modal-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 110;
  top: -25vh; /* -25vh hidden --> 50vh on screen */
  left: 40px;
  width: calc(100vw - 80px);
  background: white;
  padding: 1rem;
  border-radius: 15px;
  opacity: 0;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.5);
  transition: top 500ms ease-in-out, opacity 500ms ease-in-out;
}

.orient-modal-body {
  text-align: center;
}

.orient-modal-container-show {
  opacity: 1;
  top: 35vh;
}

.orient-modal-btn-row {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
/*! end modal styles */

/* media queries */
/* smaller phones */
@media screen and (max-width: 750px) {
  .list-section {
    width: 100%;
  }
  .calc-form {
    width: 100%;
  }
}
/* iPhone 12 pro */
@media screen and (max-width: 850px) {
  .heading {
    margin: 0.2rem 0 0;
  }
}
