/* Navigation bar styles */
header {
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 10;
  top: 0; /*! we have to specify at least one position for sticky to work */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
  background-color: black;
  color: white;
}

nav a {
  text-decoration: none;
}

.navItems {
  display: flex;
  margin-right: 1rem;
}

.nav-link {
  margin: 0 2rem;
  cursor: pointer;
  user-select: none;
}

.nav-link:hover {
  color: greenyellow;
}

.nav-link-active {
  font-weight: 500;
  color: lightskyblue;
  margin: 0 2rem;
  cursor: default;
  pointer-events: none;
  user-select: none;
}

.nav-link-disabled {
  color: var(--dark-grey);
  cursor: none;
  pointer-events: none;
}

.logo {
  transform: translateY(0.2rem);
  font-weight: 500;
  cursor: default;
  color: white;
}

.copyright {
  color: white;
}

/* @media screen and (max-width: 660px) {
  .copyright {
    display: none;
  }
} */
