.new-gb-form {
  text-align: center;
  background: var(--section-background);
  margin: 1rem auto;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.4);
}

.new-gb-form > .title {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.new-gb-form input {
  font-size: 1rem;
}

.gb-row {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.gb-select {
  margin-right: 1rem;
  font-size: 1rem;
}

.level-input {
  width: 5ch;
  margin-right: 1rem;
}

.goal-input {
  width: 9ch;
}

.p-row {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.p-row input {
  width: 6ch;
  margin-right: 1rem;
}

.save-btn {
  background-color: green;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  padding: 0.15em 0.6em;
  margin-bottom: 1rem;
  transition: background-color 200ms ease-in;
}

.save-btn:hover {
  background-color: red;
}

.select-label {
  margin-right: 0.25rem;
}

.p-labels {
  margin-left: 0.5rem;
}
