/* define document variables */
:root {
  --field-bkg: whitesmoke;
  --bg-clr: coral;
}

/* general styles*/
body {
  background: hsl(210, 73%, 35%);
  background: -moz-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: -webkit-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: linear-gradient(to right, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  /*! Google font Open Sans: 300,400,500,600,700,800 */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  margin: 1vh 0 2vh;
  background-color: skyblue;
  user-select: none;
}

legend {
  background-color: blue;
  color: white;
  font-weight: 600;
  border-radius: 25px;
  padding: 0 1em;
}

.bottom-button-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  font-size: 16px;
  background-color: white;
  border-radius: 25px;
  padding: 0 0.5em;
}

.btn:hover {
  cursor: pointer;
  background-color: greenyellow;
  font-weight: 600;
}

/* utility styles */
.push-right {
  margin-left: auto;
}

.hide {
  display: none;
  /* opacity: 0;
  visibility: hidden; */
}

/* quick 1.9 styles */
.qc-container {
  background-color: var(--bg-clr);
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 15em;
}

.display {
  border: 1px solid black;
  background-color: var(--field-bkg);
  height: 1.5em;
  min-width: 6ch;
  padding: 0 0.5em;
}

.radio-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mine-row {
  font-weight: 600;
}

.mine-row span {
  border: 1px solid black;
  color: white;
  background-color: blue;
  padding: 0 0.25em;
  margin-left: 0.25em;
}

.mx-btn > *:hover {
  cursor: pointer;
}

#fp_input {
  background-color: var(--field-bkg);
  width: 5rem;
}

/* quick sniper styles */
.qs-container {
  background-color: var(--bg-clr);
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  width: 15em;
}

.input-row {
  display: flex;
}

.input-row input {
  width: 8ch;
}

.display-row {
  width: fit-content;
  font-weight: 600;
}

#result_txt {
  align-self: center;
  padding: 0.1em 0.25em;
  margin-bottom: 0.25em;
  background-color: white;
  color: red;
  border: 1px solid black;
  border-radius: 25px;
}
