:root {
  --primary-clr: hsl(0, 0%, 10%);
  --secondary-clr: blue;
  --primary-bkg-clr: hsl(54, 100%, 96%);
  /* --sectiontxt-clr: hsl(0, 17%, 93%); */
  /* --sectiontxt-bkg-clr: whitesmoke; */
}

body {
  background: hsl(210, 73%, 35%);
  background: -moz-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: -webkit-linear-gradient(left, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  background: linear-gradient(to right, #185a9d 0%, #1eb5c8 50%, #43cea2 100%);
  /* font-size: 18px; */
  font-family: 'Open Sans', sans-serif;
  /*! Google font Open Sans: 300,400,500,600,700,800 */
}

nav {
  z-index: 100;
}

h1 {
  color: var(--primary-clr);
  margin: 0.25rem auto;
  user-select: none;
}

h2 {
  color: var(--primary-bkg-clr);
  margin: 0.5rem auto;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lab-home-btn {
  color: var(--primary-clr);
  background-color: var(--primary-bkg-clr);
  font-weight: 600;
  padding: 0.1em 0.75em;
  margin: 0.5em auto;
  border-radius: 1em;
  border: 0;
  outline: none;
  cursor: pointer;
}

.lab-home-btn:hover {
  font-weight: 800;
  color: var(--primary-bkg-clr);
  background-color: var(--primary-clr);
}
